<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <button class="hamburger" id="menuToggle">☰</button>
  <div class="overlay" id="overlay"></div>

  <section class="header">

    <header id="sideHeader">
      {{ partial "header.html" . }}
    </header>

    <main>
      {{ block "main" . }}{{ end }}

      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </main>
  </section>


  {{ partial "scripts.html" . }}
</body>

<script src="js/swiper.js"></script>

</html>