<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <button class="hamburger" id="menuToggle">☰</button>
  <div class="overlay" id="overlay"></div>

  <section class="header">
    <header id="sideHeader">
      <div class="mobile-menu-content">
        {{ partial "header.html" . }}
      </div>
    </header>

    <main>
      {{ block "main" . }}{{ end }}

      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </main>
  </section>

  {{ partialCached "head/js.html" . }}

  {{ $swiper := resources.Get "js/swiper.js" | js.Build }}
  <script src="{{ $swiper.RelPermalink }}" defer></script>
</body>


</html>